.sidebar {
  width: 100%;
  max-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;

  .sidebar__logo {
    color: var(--twitter-color);
    font-size: 30px;
    padding: 15px;

    &:hover {
      background: var(--background-blue);
      border-radius: 50px;
      cursor: pointer;
    }
  }

  .sidebar__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
    max-width: fit-content;
    color: black !important;
    text-decoration: none;

    &.active {
      color: var(--twitter-color);

      h2 {
        font-weight: 700;
      }
    }

    &:hover {
      border-radius: 50px;
      background: var(--background-light);
      color: var(--twitter-color);
      transition: color 100ms ease-out;
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-right: 20px;
      text-transform: capitalize;
    }

    .customIcons {
      color: black !important;
      padding: 15px;
      font-size: 30px;
    }


  }

  .sidebar__tweet {
    font-size: 16px;
    font-weight: 800;
    color: white;
    background-color: var(--twitter-color);
    border: none;
    border-radius: 30px;
    text-transform: inherit;
    width: 100%;
    max-width: 200px;
    height: 50px;
    margin-top: 20px;

    &:hover {
      background: var(--twitter-color);
    }

    .customIcons {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    flex: 0;

    .sidebar__option {
      width: 60px;
      display: flex;
      justify-content: center;
      padding-right: 0;

      h2 {
        display: none;
      }
    }

    .sidebar__tweet {
      width: 60px;
      padding: 15px;
      font-size: 30px;
      height: 60px;
      border-radius: 50%;
    }

    .customIcons {
      display: block !important;
    }

    span:nth-child(2) {
      display: none;
    }
  }
}

@media screen and (max-width: 768px){
  .sidebar{
    display: none;
  }
}