.widgets {
  width: 350px;
  margin: 10px 20px;

  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--background-twitter);
    padding: 0 20px;
    border-radius: 30px;

    .widgets__searchIcon {
      color: gray;
    }

    input {
      background-color: var(--background-twitter);
      border: none;
      padding: 15px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .widgets__widgetContainer {
    margin-top: 15px;
    padding: 20px;
    background: #f5f8fa;
    border-radius: 20px;
  }

  .widgets__links {
    list-style: none;
    margin-top: 20px;
    padding-left: 20px;

    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.widgets__copyright:hover {
        cursor: initial;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .widgets{
    width: 290px;
  }
}

@media screen and (max-width: 990px){
  .widgets{
    display: none;
  }
}