.messages {
  display: flex;
  width: 100%;

  h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .messagesList {
    flex: .4;
  }

  .messagePreview {
    border-left: none;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

@media screen and(max-width: 768px) {
  .messages {
    .messagePreview {
      display: none;
    }
  }
}