.notifications {
  display: flex;
  width: 100%;

  .notificationList {
    max-width: 600px;

    h2 {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .tab__header {
      display: flex;

      .notifications__tab {
        font-weight: 600;
        width: 100%;
        text-align: center;
        padding: 20px;

        &:hover {
          background-color: var(--background-twitter);
          cursor: pointer;
        }

        &.active {
          content: "";
          border-bottom: 3px solid var(--twitter-color);
        }
      }
    }

    .tab__content {
      display: none;
      max-width: 600px;
      width: auto;

      &.active {
        display: block;
      }
    }
  }
}

//@media screen and(max-width: 768px) {
//  .notifications {
//    .messagePreview {
//      display: none;
//    }
//  }
//}