:root {
  --twitter-color: rgb(29, 155, 240);
  --background-light: #F7F9F9;
  --background-blue: rgba(29, 155, 240, 0.2);
  --background-twitter: #e6ecf0;
}

* {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app {
  display: flex;
  max-height: 100vh !important;
  width: 90%;
  max-width: 1300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.container {
  //flex: .4;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  border-right: 1px solid var(--background-twitter);
  border-left: 1px solid var(--background-twitter);

  // Hide Scroll bar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .container__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--background-twitter);
    padding: 15px 20px;

    h1 {
      font-size: 20px;
    }
  }

  .container__content {
    padding: 30px;
  }

  .MuiButton-contained {
    box-shadow: none !important;
  }

  .buttonPrimary {
    font-size: 16px;
    font-weight: 800;
    color: white;
    background-color: var(--twitter-color);
    border: none;
    border-radius: 30px;
    text-transform: inherit;
    padding: 10px 30px;
    //height: 50px;
    margin-top: 20px;

    &:hover {
      background: var(--twitter-color);
      //filter: grayscale(.2);
    }
  }
}

.iconContainer {
  padding: 10px;
  display: flex;
  justify-items: center;

  .customIcons {
    color: var(--twitter-color);
  }

  &:hover {
    background: var(--background-blue);
    border-radius: 50px;
    cursor: pointer;
  }
}


@media screen and (max-width: 768px) {
  .container {
    flex: .7;
  }
}

@media screen and (max-width: 576px) {
  .container {
    flex: 1;
  }
}