.feed {
  max-width: 600px;

  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--background-twitter);
    padding: 15px 20px;

    h1 {
      font-size: 20px;
    }
  }
}
