.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--background-twitter);
  padding: 15px 20px;
  max-width: 100%;
  flex-wrap: wrap;


  .post__avatar {
    margin-right: 10px;
    flex: 0.1;
    max-width: 20%;
  }

  .post__body {
    flex: 0.8;
    min-width: 80%;

    .post__header {
      .post__headerText {
        h3 {
          font-size: 15px;
          margin-bottom: 5px;
        }

        .post__headerSpecial {
          font-weight: 600;
          font-size: 12px;
          color: gray;

          .post__badge {
            height: 18px;
            margin: 0 5px;
          }
        }
      }

      .post__headerDescription {
        p {
          margin-bottom: 20px;
        }
      }
    }

    img {
      border-radius: 20px;
      max-height: 500px;
      max-width: 300px;
      object-fit: contain;
      height: auto;
      width: auto;
    }
  }

  .post__footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;

    .customIcons {
      &:hover {
        transition: color 100ms ease-out;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post {
    .post__body {
      img {
        max-height: 500px;
        max-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .post {
    .post__body {
      img {
        max-width: 250px;
      }
    }
  }
}