.tweetBox {
  border-bottom: 1px solid var(--background-twitter);
  padding: 15px 20px;

  form {
    display: flex;
    flex-direction: column;
  }

  .tweetBox__input {
    padding-right: 20px;
    display: flex;

    input {
      flex: 1;
      margin-left: 20px;
      font-size: 20px;
      border: none;
      font-weight: 500;
      color: black;

      &:focus {
        outline: none;
      }
    }
  }

  .tweetBox__actions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    align-items: center;
    margin-left: 55px;
    border-top: 1px solid var(--background-twitter);

    .tweetBox__imageInput {
      input {
        display: none;
      }
    }

    .tweetBox__button {
      font-size: 16px;
      font-weight: 600;
      color: white;
      background-color: var(--twitter-color);
      border: none;
      border-radius: 30px;
      text-transform: inherit;
      padding: 5px 20px !important;
      margin-left: auto;
      box-shadow: none;

      &:hover {
        background: var(--twitter-color);
        filter: grayscale(.2);
      }

      &:disabled {
        opacity: .7;
        color: white;
      }
    }
  }
}